<div style="margin: 10px; width:990px">
	<div class="navbar">
		<a href="#!/home"><img src="imgs/header_logo_500.png" style="height:100px"/></a>
		<!-- <div style="margin:5px;float: right !important">
			<img ng-class="selectedCard.cardType"/>
		</div> -->
	</div>
	<div  style="float: left; ;">
		<ul class="menu">
			<li><a href="#!/home">Home</a></li>
			<li><a href="#!/activity">Acounts</a></li>
			<li>Banking</li>
			<li>Lending</li>
			<li><a href="#!/notifications"></a>Notifications</li>
		</ul>
	</div>
	<div>
		<div class="heroimage">
			<img src="imgs/hero_image.jpg"/>
		</div>

        <div class="vspace">&nbsp;</div>
        <!-- BEGIN TABLE -->
        <table width="100%">
            <tr>
                <!-- <th>Id</th> -->
                <th>Event</th>
				<th>Time Stamp</th>
                <th>Account Id</th>
				<th>Payload</th>
            </tr>
            <tr ng-repeat="item in alerts" ng-click="setSelectedRow($index)" ng-class="{'selected':$index == selectedRow}">
                <td>{{item.type}}</td>
				<td>{{item.createdDate}}</td>
                <td>
					{{item.payload.Id}}
                </td>
				<td>
					{{getCurrentAlert(item)}}
				</td>
            </tr>
        </table>
        <!-- END TABLE -->
        <div>
            <!-- placeholder for now-->
        </div>
	</div>

</div>